## Question
Data types in Python are like different modes of transport (scooters, cars, buses, airplanes), what happens when you try to transport 100 people using a scooter versus a bus? What about transporting a single person? When would you choose each vehicle, and why?"
This question encourages students to think about:

How different data types are suited for different amounts and types of data
The efficiency of using appropriate data types
The limitations that come with certain data types
How to choose the right data type for a specific task

## DataTypes
#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

  ### Analogy
  - Data Types are different names for transport: like, Scooter, car, bus, aeroplane

#### 2. Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

Agenda:
1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [1]:
## Integer Example
age=35
type(age)

int

In [2]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## string datatype example
name="Kapil"
print(name)
print(type(name))

Kapil
<class 'str'>

In [14]:
## boolean datatype
abc=True
type(abc)

bool

In [13]:
a=10
b=10

# print(a==b)
type(a==b) # a==b wil result into True
type(True) # a==b wil result into True

bool

In [ ]:
## common errors

# result="5" + 5 
result="Hello" + 5
# result = str + int # not allowed
# result = str + str # allowed

result

TypeError: can only concatenate str (not "int") to str

In [24]:
result="Hello" + str(5)
print(result)

Hello5