#### Tuples

#### Analogy
Tuples are like egg cartons - once you put the eggs in, you can't change them, and each egg has its specific position (index).

Agenda:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple
empty_tuple=() # braces

print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
# empty_list = []
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [13]:
numbers=tuple( [1,2,3,4,5,6] )
numbers
# print(type(numbers))

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [ ]:
mixed_tuple=(1,"Hello World",3.14, True)
            #0  #1          #2    #3
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [21]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [7]:
mixed_tuple=(1,"Hello World",3.14, True)
            #0  #1          #2      #3

print(mixed_tuple[3])

# print(numbers[-1])

True

In [8]:
# mixed_tuple[start:stop-1:step]

# mixed_tuple[0:4-1:step]

mixed_tuple[0:4]

(1, 'Hello World', 3.14, True)

In [11]:
# mixed_tuple[-1]   #1  True
mixed_tuple[::-1] #2  reverse

(True, 3.14, 'Hello World', 1)

In [ ]:
## concatination example in strings
abc = "the sun rises in "
bcd = "east"

print(abc+bcd) # concatination

the sun rises in east

In [14]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [20]:
# print(4 * "this is mlops class\n")

print(mixed_tuple * 3)
mixed_tuple

(1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True)

(1, 'Hello World', 3.14, True)

In [24]:
numbers *3

len(numbers *3)

18

In [3]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Kapil"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Kapil', 3, 4, 5]

In [ ]:
numbers=tuple( [1,2,3,4,5,6] )

numbers[1]="Kapil" # tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers=tuple( [1,2,3,4,5,6,1,1] )
            #

In [33]:
## Tuple Methods
# print(numbers.count(1))
print(numbers.index(6))

5

In [36]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14

print(packed_tuple)
print(type(packed_tuple))

(1, 'Hello', 3.14)
<class 'tuple'>

In [39]:
# swapping of numbers in python
a = 10
b = 20

a,b = b, a
# result a = 20 , b= 10

print("a:",a,"b:",b)

a: 20 b: 10

In [37]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

# What's Happening

- numbers = (1, 2, 3, 4, 5, 6):
- This creates a tuple named numbers containing the integers 1 through 6. Think of a tuple as an ordered, unchangeable list.
- first, *middle, last, last2 = numbers:

# This is called "unpacking" with the * operator.
- first gets the first element of numbers (which is 1).
- last2 gets the last element of numbers (which is 6).
- last gets the second to last element of numbers (which is 5).
- *middle gathers all the remaining elements (2, 3, and 4) into a list called middle.

In [40]:
## Unpacking with *
numbers=(1,2,3,4,5,6)

first,*middle,last,last2 = numbers

print(first)
print(middle)
print(last)
print(last2)

1
[2, 3, 4]
5
6

In [1]:
## Nested Tuple
## Nested List
#[ 1, 2, 3, 4]
  #0  #1


        # 0            # 1        #2
lst = [ [ 1, 2, 3, 4], [6,7,8,9], [1,"Hello",3.14,"c"] ]
         # 0  1  2  3

# lst[0]
# lst[2]
# lst[2][1]

lst[0][0:3] # [start:stop-1:step]

[1, 2, 3]

In [58]:
                                    #-2  #-1
lst=[ [1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c") ]
      #0        #1        #2

# lst[2][0:3]
# lst[2][-1]   #1
lst[2][::-1] #2

('c', 3.14, 'Hello', 1)

In [60]:
                
nested_tuple = ( (1, 2, 3), ("a", "b", "c"), (True, False) )
                # 0         # 1

# ("a", "b", "c")
  # 0   #1  # 2
## access the elements inside a tuple
print(nested_tuple[1][1])      # 1
# print(nested_tuple[1][2])

b

In [80]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
  print(sub_tuple)
# print("\n",sub_tuple[0])

# iter1: sub_tuple = (1, 2, 3)
# iter2: sub_tuple = ("a", "b", "c")
# iter3: sub_tuple = (True, False)


print("sub-tuple->",sub_tuple)


for item in sub_tuple:
  print("\nitem is: ->",item)

# iter1: item = True
# iter2: item = False

(1, 2, 3)
('a', 'b', 'c')
(True, False)
sub-tuple-> (True, False)

item is: -> True

item is: -> False

In [83]:
## iterating over nested tuples

nested_tuple = ( (1, 2, 3), ("a", "b", "c"), (True, False) )
                # 0         # 1

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print("hello")

# outer loop -> iter1: sub_tuple = (1, 2, 3)
# Iner loop ->  iter1: sub_tuple = (1, 2, 3) , item = 1
# Iner loop ->  iter2: sub_tuple = (1, 2, 3) , item = 2
# Iner loop ->  iter3: sub_tuple = (1, 2, 3) , item = 3

# outer loop -> iter1: sub_tuple = ("a", "b", "c")
# Iner loop ->  iter1: sub_tuple = ("a", "b", "c") , item = a
# Iner loop ->  iter2: sub_tuple = ("a", "b", "c") , item = b
# Iner loop ->  iter3: sub_tuple = ("a", "b", "c"), item = c

# outer loop -> iter1: sub_tuple = (True, False)
# Iner loop ->  iter1: sub_tuple = (True, False) , item = True
# Iner loop ->  iter2: sub_tuple = (True, False) , item = False



# iter2: sub_tuple = ("a", "b", "c")
# iter3: sub_tuple = (True, False)

1 2 3 hello
a b c hello
True False hello